@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-canvas: theme('colors.white');
  --color-border: theme('colors.gray.200');
  --color-border-focus: theme('colors.gray.300');
  --color-text: theme('colors.gray.700');
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-canvas: theme('colors.gray.950');
    --color-border: theme('colors.gray.800');
    --color-border-focus: theme('colors.gray.600');
    --color-text: theme('colors.white');
  }
}

@layer utilities {
  .app-region-drag {
    -webkit-app-region: drag;
  }

  .app-region-none {
    -webkit-app-region: none;
  }
}

body {
  @apply text-base;
  @apply text-text;
}

th,
td {
  @apply border;
  @apply p-1;
}

.markdown {
  @apply flex flex-col gap-2;
}

.markdown > * {
  @apply min-w-0;
  @apply flex-1;
}

.markdown p {
  @apply whitespace-pre-wrap;
}

.markdown ol {
  @apply list-inside list-decimal;
}

.markdown ul {
  @apply list-inside list-disc;
}

.markdown h1 {
  @apply text-2xl font-bold;
}

.markdown h2 {
  @apply text-xl font-semibold;
}

.markdown h3 {
  @apply text-base font-semibold;
}

.markdown blockquote {
  @apply border-l-2 border-gray-400 pl-2 text-sm dark:border-gray-300;
}

.markdown a {
  @apply text-blue-500 underline underline-offset-2;
}

.grow-wrap {
  @apply grid w-full grid-cols-1;
}

.grow-wrap::after {
  @apply invisible whitespace-pre-wrap;
  content: attr(data-replicated-value) ' ';
}

.grow-wrap > textarea {
  @apply resize-none;
}

.grow-wrap > textarea,
.grow-wrap::after {
  @apply max-h-[10lh] rounded-2xl border bg-transparent p-2 px-3 py-1 text-inherit outline-none focus:border-border-focus;
  grid-area: 1 / 1 / 2 / 2;
}
